In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
df.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [6]:
df.sample(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
7161,5217507,Great 1-bd apartment in Murray Hill,3510638,Eugene,Manhattan,Murray Hill,40.74479,-73.97573,Entire home/apt,149,5,13,2018-05-20,0.24,1,0
35178,27906663,Plant-filled colorful Bushwick bedroom!,41942577,Olive,Brooklyn,Bushwick,40.69247,-73.91196,Private room,46,5,1,2018-10-09,0.11,1,0
13790,10388512,JFK 10 & LGA 15 MINUTES AWAY A/C PRIVATE BEDRO...,22959695,Gurpreet Singh,Queens,Richmond Hill,40.69317,-73.82527,Private room,50,1,96,2018-11-22,3.77,5,0
33221,26229979,New York Home with a back yard in Central Harlem.,150482926,Yann,Manhattan,Harlem,40.80898,-73.94591,Entire home/apt,295,5,3,2018-08-21,0.27,1,0
18645,14747893,"HUGE ROOM,PRIVATE BATH FORT GREENE/CLINTON HILL",91909024,Jason,Brooklyn,Clinton Hill,40.68548,-73.96625,Private room,80,4,2,2016-11-07,0.06,1,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [10]:
df["id"] = df["id"].astype(str)
df["host_id"] = df["host_id"].astype(str)
df["latitude"] = df["latitude"].astype(str)
df["longitude"] = df["longitude"].astype(str)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  object
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  object
 3   host_name                       48895 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  object
 7   longitude                       48895 non-null  object
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(1), int64(5), object(10)
memory usage: 6.0+ MB

In [12]:
df.shape

(48895, 16)

In [14]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [16]:
df.dropna(inplace = True)
df.drop_duplicates(inplace = True)

In [17]:
df.shape

(38837, 16)

In [19]:
df.describe()

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,38837.000000,38837.000000,38837.000000,38837.000000,38837.000000,38837.000000
mean,142.314442,5.868450,29.300976,1.373410,5.165100,114.882535
std,196.959053,17.386079,48.189167,1.680502,26.297646,129.537245
min,0.000000,1.000000,1.000000,0.010000,1.000000,0.000000
25%,69.000000,1.000000,3.000000,0.190000,1.000000,0.000000
50%,101.000000,2.000000,9.000000,0.720000,1.000000,55.000000
75%,170.000000,4.000000,33.000000,2.020000,2.000000,229.000000
max,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [20]:
df.nunique()

id                                38837
name                              38269
host_id                           30245
host_name                          9886
neighbourhood_group                   5
neighbourhood                       218
latitude                          17443
longitude                         13640
room_type                             3
price                               581
minimum_nights                       89
number_of_reviews                   393
last_review                        1764
reviews_per_month                   937
calculated_host_listings_count       47
availability_365                    366
dtype: int64

### Catagorical analysis

In [23]:
# Value_counts return the count of values in that group
df["neighbourhood_group"].value_counts()

neighbourhood_group
Manhattan        16628
Brooklyn         16445
Queens            4574
Bronx              876
Staten Island      314
Name: count, dtype: int64

In [25]:
# i want the percentage of the of the value counts -- normalize = true is retur the percentage of the values

df["neighbourhood_group"].value_counts(normalize = True)

neighbourhood_group
Manhattan        0.428148
Brooklyn         0.423436
Queens           0.117774
Bronx            0.022556
Staten Island    0.008085
Name: proportion, dtype: float64

In [26]:
df["room_type"].value_counts()

room_type
Entire home/apt    20327
Private room       17664
Shared room          846
Name: count, dtype: int64

In [28]:
df["room_type"].value_counts(normalize = True)

room_type
Entire home/apt    0.523393
Private room       0.454824
Shared room        0.021783
Name: proportion, dtype: float64

In [29]:
df["neighbourhood"].value_counts()

neighbourhood
Williamsburg          3163
Bedford-Stuyvesant    3141
Harlem                2206
Bushwick              1943
Hell's Kitchen        1531
                      ...
Eltingville              2
New Dorp Beach           2
Richmondtown             1
Rossville                1
Willowbrook              1
Name: count, Length: 218, dtype: int64

In [39]:
df_n = df["neighbourhood"].value_counts().reset_index()
df_n

          neighbourhood  count
0          Williamsburg   3163
1    Bedford-Stuyvesant   3141
2                Harlem   2206
3              Bushwick   1943
4        Hell's Kitchen   1531
..                  ...    ...
213         Eltingville      2
214      New Dorp Beach      2
215        Richmondtown      1
216           Rossville      1
217         Willowbrook      1

[218 rows x 2 columns]

In [40]:
df_n[df_n["count"] > 500]

         neighbourhood  count
0         Williamsburg   3163
1   Bedford-Stuyvesant   3141
2               Harlem   2206
3             Bushwick   1943
4       Hell's Kitchen   1531
5         East Village   1489
6      Upper West Side   1482
7      Upper East Side   1405
8        Crown Heights   1265
9              Midtown    986
10         East Harlem    944
11          Greenpoint    868
12             Chelsea    828
13     Lower East Side    738
14  Washington Heights    721
15             Astoria    709
16        West Village    610
17  Financial District    509

#### Numerical analysis

In [43]:
df["price"].value_counts(bins = 5)

(-10.001, 2000.0]    38802
(2000.0, 4000.0]        20
(4000.0, 6000.0]         8
(8000.0, 10000.0]        5
(6000.0, 8000.0]         2
Name: count, dtype: int64

In [44]:
bins = (0,100,200,500,1000,2000,10000)

In [45]:
df["price"].value_counts(bins = bins)

(-0.001, 100.0]      19398
(100.0, 200.0]       13549
(200.0, 500.0]        5268
(500.0, 1000.0]        515
(1000.0, 2000.0]        72
(2000.0, 10000.0]       35
Name: count, dtype: int64

In [46]:
df["price"].mean()

142.3144424131627

In [47]:
df["price"].std()

196.95905304478742

In [49]:
df["price"].skew()

23.67696919851597

In [50]:
df["price"].kurt()

953.7887522005677

In [51]:
df.corr()

ValueError: could not convert string to float: 'Clean & quiet apt home by the park'